<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" lang="eng">
	<title>DojoReads</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'Belt_review_app/css/books_home.css' %}">
</head>
<body>
	<div class="header">
		<h1>Welcome {{loggedinUser.user_name}}!</h1>	
		<a class="add" href="/add_book_and_review">Add Book and Review</a>
		<a class="Logout" href="/logout">Logout</a>
	</div>


	<div class="rev_container">
	<h2>Recent Book Reviews:</h2>
	<br>
		{% for reviews in ordered_reviews %}
	<a href="/viewbook/{{reviews.book.id}}">{{reviews.book.title}}</a>
	<p>{{reviews.rating}}: stars</p>
	<p><a href="/viewuser/{{reviews.user.id}}">{{reviews.user.user_name}}</a> says: {{reviews.comment}}</p>
	{% endfor %}
	</div>

	<div class="">
		<h2>Other Books with Reviews:</h2>
		{% for review in all_reviews %}
		<a class="allrev" href="/viewbook/{{review.book.id}}">{{review.book.title}}</a>
		{% endfor %}
	</div>
</body>